@import url('https://fonts.googleapis.com/css?family=Muli:wght@400;700&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli';
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}
